<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-tablet mdl-cell--2-phone">
    <h6>Hello, Dog lovers!</h6>
    <p> Essa é a página principal. <br> Aqui trataremos das características principais do nosso projeto e no que acreditamos </p>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-tablet mdl-cell--2-phone">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      <%=	 link_to 'Modelo a mostrar', 'https://getmdl.io/templates/android-dot-com/index.html'%>
    </button>
  </div>
</div>