// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button {
  a {
    color: darkgreen;
    text-decoration: none;
    font-weight: bolder;
  }
}

.primeira {
  height: 600px;
}

.segunda {
  background-color: lightgreen;
  border-bottom: 5px dashed darkgreen;
  //background-color: darksalmon;
  //border-bottom: 5px dotted darkred;
  height: 150px;
  color: #1b5e20;
  h3 {
    margin-top: 0px;
  }
}

.terceira {
  height: 600px;
}